body
{
margin: 0;
    background-image: url(concert.jpg);
    background-attachment: fixed;
  background-repeat: no-repeat; 
  background-position:  center; 
  background-size: cover; 
  color: black;
}
.title
{
  text-align: center;
  font-size: 5vw;
}
.songs
{
    display: flex;
    align-items: center;
    justify-content: center;
   
    height: 100vh;

}

.name
{
  
  font-size: 2vw;
  margin-top: -10%;
    display: flex;
    backdrop-filter: blur(10px);
    height: 10%;
    width: 60%;
    align-items: center;
    justify-content: center;
    border-radius: 5%;
     box-shadow: 2px 2px 7px rgb(90, 89, 89), -2px -2px 7px rgb(90, 89, 89);

}
a
{
  color: white;
  text-decoration: none;
}